.item {
    padding: 2px;
    margin: 2px;
    height: auto;
    width: 70px;
    flex-direction: column;
    text-align: center;
    align-items: center;
    color: rgb(14, 15, 15);
    border: 1px solid black;
    border-color: black;
    border-radius: 10px;
}

.images {
    padding: 2px;
    margin: 2px;
    border-radius: 10px;
    overflow: hidden;
}

.friendName {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 30px;
    font-weight: 500;
    font-size: 1em;
    font-weight: 500 - bold;
    line-height: 1;
    color: black;
}

.friendStatus {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    font-size: 1em;
    font-weight: 500 - bold;
    line-height: 1;
}

.isOnline {
    color: rgb(35, 166, 5);
}

.isOffline {
    color: rgb(255, 0, 0);
}

@media screen and (min-width: 768px) {
    .item {
        padding: 5px;
        margin: 5px;
        width: 140px;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .images {
        width: 100px;
    }

    .friendName {
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 35px;
    }

    .friendStatus {
        font-size: 25px;
    }

}


@media screen and (min-width: 1440px) {

    .item {
        padding: 5px;
        margin: 5px;
        /* width: 170px; */
    }
}