.item {
    padding: 2px;
    margin: 2px;
    color: rgb(14, 15, 15);
}

.images {
    padding: 2px;
    margin: 2px;
    border-radius: 10px;
    overflow: hidden;
}

.container {
    padding: 2px;
    border-radius: 10px;
    border: 2px solid black;
    border-color: blue;
}

/* 
.text {
    .isActive {
        color: green;
    }

    .isRetared {
        color: rgb(128, 0, 6);
    }
} */

.friendImg {
    margin-bottom: 10px;
}

.friendName {
    font-size: 30px;
    font-weight: 500;
    font-size: 1em;
    font-weight: 500 - bold;
    line-height: 1;
}

.friendStatus {
    font-size: 20px;
    font-size: 1em;
    font-weight: 500 - bold;
    line-height: 1;
}

.isOnline {
    color: rgb(35, 166, 5);
}

.isOffline {
    color: rgb(255, 0, 0);
}

/* 
@media screen and (min-width: 375px) {
    .container {
        width: 375px;
    }
} */

@media screen and (min-width: 768px) {
    .item {
        padding: 5px;
        margin: 5px;
    }

    .images {
        padding: 5px;
        margin: 5px;
    }

    .friendName {
        font-size: 35px;
    }

    .friendStatus {
        font-size: 25px;
    }

}

/* 
@media screen and (min-width: 1440px) {
    .container {
        width: 1440px;
        margin: 20px auto;
    }
} */